#movie-result {
  background: rgb(111, 152, 170);
  border: 5px solid rgb(214, 214, 214);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(176, 146, 212);
  border: 5px solid rgb(255, 220, 220);
  font-size: 24px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: rgb(163, 64, 64);

}
body {background-image: url("https://www.christies.com/-/jssmedia/images/features/articles/2023/12/beatles-painting-exceptional-sale/beatles-painting-70409758-frame_2400-dotcom-png.jpg?h=1230&iar=0&w=1839&rev=7ca3782d5fc64140951c9f1b3477d9da&hash=e5d1bb608b26ff3a4f1b897eaf590862c9737834")}

